#studentsSection,
#subjectsSection,
#gradesSection {
    display: none;
}

#studentsSection:target,
#subjectsSection:target,
#gradesSection:target {
    display: block;
}

a {
    color:inherit;
    text-decoration:none;
}

a:hover {
    color: blue;
    text-decoration:underline;
}